.row {
    position: relative;
    margin: 4rem;
    margin-left: -4rem; 
    @include clearfix;
    @include colwidth;
    [class^="col-"] {
        //attribute selector
     float: left;
    }
    @media (max-width: 56.25em) {
        margin-left: 4rem;
    }
    @media (max-width: 36.5em) {
        margin-left: 0rem;
    }
}