.music-sheet {
    color: white;
}

.music-sheet .play {
    background-color: green;
}

.music-sheet .learn {
    background-color: yellow;
    color: black;
}

.music-sheet .fail {
    background-color: red;
}


.music-sheet .success {
    background-color: green;
}