.octave {
  list-style: none;

  @media (max-width: 56.25em) {
    &--0, &--1,&--2,&--6,&--7,&--8 {
      display: none;         
    }
    & .col-1-of-52 {
      width: calc(1 * ((100% - (24 - 1) * 0rem) / 24) + (1 - 1) * 0rem) !important;
    }
  }

  @media (max-width: 36.5em) {
    &--3,&--5 {
      display: none;         
    }
    & .col-1-of-52 {
      width: calc(1 * ((100% - (8 - 1) * 0rem) / 8) + (1 - 1) * 0rem) !important;
    }
  }
}
