*,
*::after,
*::before {
    box-sizing: inherit; // Force inheritance. Better practice
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box; // Not inherited
    margin:0;
    background:#222;
    padding: 3rem; // padding is not inherit 
}
