body {
    font-family: "Lato",
        sans-serif; // font is inherit by child tags. More efficient then use the universal selector 
    font-weight: 400; // font-size: 16px;*/ // Remove . Now we are using 10px root font-size
    line-height: 1.7;    
}